fastapi==0.115.0
uvicorn==0.30.6
python-multipart==0.0.9
pypdf2==3.0.1
scikit-learn==1.5.2
nltk==3.9.1
spacy==3.8.2
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl